<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:canvas="http://www.mulesoft.org/schema/connectivity/canvas"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/connectivity/canvas http://www.mulesoft.org/schema/connectivity/canvas/current/mule-canvas.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<canvas:config name="Canvas_config" doc:name="Canvas config" doc:id="375bb809-6e0f-4798-b958-050b8405b86b" >
		<canvas:bearer-auth-connection baseUri="https://salesforce.instructure.com/api/v1" token="15721~B4DcruuVWkL3TUFcLteuNBcLuuF7Wzn4eVGGUD8A348MVhVBDUQHvwEyMvZkwHZn" />
	</canvas:config>
	<configuration doc:name="Configuration" doc:id="0d4caf85-e32c-45c6-b553-5ccbd26a9a0f" defaultErrorHandler-ref="Global-Error-Handler" />
	<configuration-properties doc:name="Configuration properties" doc:id="9c0da026-86eb-4a00-ab40-28a97f7bbabb" file="config.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="23743b45-a919-4bde-bdbd-5686ce9cd5d0" >
		<http:listener-connection host="${https.host}" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="Client-Keystore.jks" keyPassword="Mule12345" password="Mule12345" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
</mule>
